
div#main {
    font-family: calibri,serif;
}
fieldset {
    border: 5px solid #888886;
    border-radius: 11px 11px 11px 11px;
    height: 159px;
    margin: 157px auto 0;
    width: 581px;
}
legend {
    color: #888886;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 7px;
}
form {
    margin-left: 46px;
    margin-top: 25px;
}
label {
    color: #888886;
    display: block;
    float: left;
    font-family: calibri,serif;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    width: 70px;
}
input.text {
    border: 1px solid #888886;
    border-radius: 11px 11px 11px 11px;
    color: #888886;
    font-family: calibri,serif;
    height: 30px;
    margin-bottom: 12px;
    padding-left: 6px;
    width: 397px;
}
input.submit {
    background-color: white;
    border: 1px solid #888886;
    border-radius: 11px 11px 11px 11px;
    color: #888886;
    display: block;
    float: right;
    font-family: calibri,serif;
    font-size: 16px;
    font-weight: bold;
    height: 31px;
    margin-right: 49px;
    margin-top: 12px;
    padding-bottom: 4px;
    width: 153px;
}
input.submit:hover {
    background-color: #888886;
    border: medium none;
    color: white;
}
.cancel {
    background-color: white;
    border: 1px solid #888886;
    border-radius: 11px 11px 11px 11px;
    color: #888886;
    cursor: default;
    display: block;
    float: right;
    font-family: calibri,serif;
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-right: 9px;
    margin-top: 11px;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    width: 84px;
}
.error {
    color: red;
    font-family: calibri,serif;
    font-size: 16px;
    font-style: italic;
}
.cancel:hover {
    background-color: #888886;
    border: medium none;
    color: white;
    height: 29px;
    line-height: 30px;
    width: 86px;
}
.message a {
    color: #DEA73B;
    text-decoration: none;
}
.message {
    color: #2E93C9;
    font-style: italic;
}
